<h1><%= klass_heading_and_link %></h1>
<br>
<h2>Student List</h2>
<%= link_to_add_student_status %>
<i><p>(A number after a students name indicates the number of incomplete homework assignments)</p>
<p>(* No homework status--student not signed up with EduLink)</p></i>
<% @student_statuses.each do |ss| %>
  <h3>
    <%= link_to ss.last_name_first, klass_student_status_path(@klass, ss) %>
    <% if !ss.is_default_or_nonlinked %>
      <% qty = ss.late_homeworks(@klass).count %>
      <% if qty > 0 %>
        &nbsp;<b><%= qty %></b>
      <% end %>
    <% else %>
      &nbsp;<b>*</b>
    <% end %>
  </h3>
<% end %>
