<h1><%= @klass.name %>, Period <%= @klass.period %></h1>
<h2>Student List</h2>
<%= link_to 'Add Student', klass_student_statuses_new_path(@klass) %>
<% @students.each do |student| %>
  <h3><%= link_to student.last_name_first, klass_student_status_path(@klass, student) %></h3>
<% end %>