<h1><%= klass_heading_and_link(@klass) %></h1>
<h2>Student List</h2>
<%= link_to_add_student_status(@klass) %>
<% @students.each do |student| %>
  <h3><%= link_to student.last_name_first, klass_student_status_path(@klass, student) %></h3>
<% end %>