<h1>William McKinley High School's EduLink</h1>
<%= link_to "Log In", login_path, class: "" %>
<%= link_to "Student Sign Up", students_signup_path, class: "" %>
<%= link_to "Teacher Sign Up", teachers_signup_path, class: "" %>