<h1>William McKinley High School's EduLink</h1>
<br>
<h2><%= link_to "Log In", login_path %></h2>
<br>
<h2><%= link_to "Sign Up", students_signup_path %></h2>
<br>
<h2><%= link_to 'Use Facebook To Sign Up / Log In', '/auth/facebook' %></h2>
