<h1><%= @user.full_name %></h1>
<% if user_is_admin? %>
  <%= link_to "Delete Profile", teacher_path, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<h2>Department: </h2>
<h2>Classes</h2>
<%= link_to "New", teacher_klasses_new_path(current_user), class: "" %>
<%= render 'klasses/klasses' %>
