<% @date = future_weekday_only %>
<% 5.times do %>
  <% if homework_assigned? %>
    <h3>&nbsp;<%= clickable_homework_to_edit %></h3>
  <% else %>
    <h3><%= @f.radio_button :date, value: @date %>
    <%= @f.label :date, @date.strftime(day_format) %></h3>
  <% end %>
  <% @date = next_day %>
<% end %>
