<h1><%= klass_heading_and_link %></h1>
<h2>Homework Not Completed</h2>
<% date = nil %>
<% @late_homeworks.each do |h| %>
  <% if date != h.date %>
    <br>
    <h2><%= h.formatted_date %></h2>
    <% date = h.date %>
  <% end %>
  <h3><%= h.student.last_name_first %></h3>
<% end %>
