<h1><%= current_user.full_name %>'s Classes</h1>
<% if user_is_teacher? %>
  <%= link_to_add_klass %>
  <br><br>
  <%= render 'teacher_klasses' %>
<% else %>
  <%= render 'student_klasses' %>
<% end %>
